mat-form-field {
  width: 300px;
}
div {
	width: 100px;
	height: 100px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}



/* 
mat-form-field-infix{
  border: 2px solid blue;
  border-radius: 4px;
} */

