
    <div style="position: relative;
    width: 328px;
    height: 50px;
    
    background: #FFFFFF;" mat-dialog-content>
      <p style="
       align-items: center;
  text-align: center;
  letter-spacing: 0.0734694px;
  
  color: #000000;font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;position: absolute;
">Update Error,please cek the data</p>
     
    </div>
    <div mat-dialog-actions>
        <button style="width: 296px; height: 28px;background: #FE4102;" mat-raised-button color="primary" mat-dialog-close >Ok</button>
      </div>
    